/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

%btn {
  display: inline-block;
  position: relative;
  font-family: $sans-serif;
  text-decoration: none;
  color: $green-lt;
  font-size: 1em;
  font-weight: normal;
  padding: .5em 2em;
  border: 1px solid $green-lt;
  cursor: pointer;
  background-color: $white;
  text-align: center;
  text-transform: capitalize;
  transition: all .5s;
  -webkit-transition: all .5s;


  // hovering on the btn
  &:hover, &:focus {
    color: $white !important;
    text-decoration: none;
    outline: none;
  } // end hover

  // clicking on the button
  &:active {
    top: 1px; // adds a tiny hop to the click
  } // end active

} // end .button

/*
An example button.
You can use this example if you want. Just replace all the variables
and it will create a button dependant on those variables.
*/


.white-btn, .wpcf7-form-control.wpcf7-submit {
  @extend %btn; // here we load the btn defaults
  background-color: #fff;

  &:hover,
  &:focus {
    background-color: darken($green, 4%);
  } // end hover

  &:active {
    background-color: darken($green, 5%);
  } // end active

} // end white button

.blue-btn {
  @extend %btn; // here we load the btn defaults
  background-color: #fff;

  &:hover,
  &:focus {
    background-color: darken($green, 4%);
  } // end hover

  &:active {
    background-color: darken($green, 5%);
  } // end active

} // end blue button
