/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
}

.navigation_image {
		margin-top: 0em;
    height: 315px;
	}

  .portfolio_image {
  	height: 416px;
  }

  
