/******************************************************************
Site Name:
Author:

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

.wrap {
  width: 1340px;
}

.navigation_image {
    height: 415px;
	}

.portfolio_image {
  	height: 550px;
}

.contact-page {
  .full-width {
    max-width: 1080px;
  }
}

.gallery-item {
  float: left;
  margin-right: 1.4em;
  width: 32%;
  max-height: 348px;

  &:nth-child(4n+3) {
    margin-right: 0;
  }
}
